<div class="col-3">
    <div class="card card-block">
    <div class="card-body">
        <img class="card-img-top" src="@Image" alt="Card image cap">
        <h5 class="card-title">@Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Price</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Add</a>
    </div>
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Image { get; set; }
    [Parameter]
    public decimal Price { get; set; }
}