<div>
    <h2>@Title</h2>
    <p>Select product here.</p>
    @for (int i = 0; i < 10; i++)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.overclockers.co.uk/media/image/thumbnail/CA04LKK_236742_210x210.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    }
</div>


@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}