@page "/shop"

<h1>My shop</h1>
<ItemSelection Title="Case" />
<ItemSelection Title="Motherboard" />
<ItemSelection Title="CPU" />
<ItemSelection Title="RAM" />
<ItemSelection Title="Graphics" />
<ItemSelection Title="Storage" />
